
<h1 id="last5Games"> Last 4 Games</h1>
 <table class="table table-striped fix" [mfData]="data" #mf="mfDataTable"
                   [mfRowsOnPage]="rowsOnPage" [(mfSortBy)]="sortBy" [(mfSortOrder)]="sortOrder">
                <thead>
                <tr>
                    <th class="text-right">
                        <mfDefaultSorter by="date">Date</mfDefaultSorter>
					</th>
					<th class="text-right">
                        <mfDefaultSorter by="homeTeamName">Home Team</mfDefaultSorter>
                    </th>
                    <th class="text-right">
                        <mfDefaultSorter by="result">Results</mfDefaultSorter>
                    </th>
                    <th class="text-right">
                        <mfDefaultSorter [by]="sortByWordLength">Away Team</mfDefaultSorter>
					</th>
					<th class="text-right">
                        <mfDefaultSorter by="age">Match Day</mfDefaultSorter>
                    </th>
                    
                    
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let item of data">
                    <td class="text-right">{{item.date}}</td>
                    <td class="text-right">{{item.homeTeamName}}</td>
                    <td class="text-right">{{item.result.goalsHomeTeam}} - {{item.result.goalsAwayTeam}}</td>
                    <td class="text-right">{{item.awayTeamName}}</td>
                    <td class="text-right">{{item.matchday}}</td>
                    
                </tr>
                </tbody>
                <tfoot>
                <!-- <tr>
                    <td colspan="10">
                        <mfBootstrapPaginator></mfBootstrapPaginator>
                    </td>
                </tr> -->
                </tfoot>
			</table>


