table{
    margin-top: 20px;
}

table thead{
    background: black;
}

table thead th a.text-nowrap{
    color: gray !important;
}

table, tr, th, td {

	border-style: solid;
	border-width: 3px;
	text-align: center;
}