<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <header></header>
  <div uib-carousel class=slider>
    <carousel [sources]="imageSources" [config]="config"></carousel>
</div>
  <!-- <div class="row">
    <div class="col-md-6 col-lg-6"> -->
  <teams-section></teams-section>
  <fixtures-section></fixtures-section>
  
  <app-the-last-five-games> </app-the-last-five-games>

  <app-lastgame></app-lastgame>
  <app-all-games-and-results></app-all-games-and-results>
  <!-- <seasons-section></seasons-section> -->
    <!-- </div>
  </div> -->
</div>
