<h1 id="fixtures">Fixtures</h1>
 <table class="table table-striped" [mfData]="data" #mf="mfDataTable"
                   [mfRowsOnPage]="rowsOnPage" [(mfSortBy)]="sortBy" [(mfSortOrder)]="sortOrder">
                <thead>
                <tr>
                    <th class="text-right">
                        <mfDefaultSorter by="caption">Caption</mfDefaultSorter>
                    </th>
                    <th class="text-right">
                        <mfDefaultSorter by="currentMatchday">Current Match Day</mfDefaultSorter>
                    </th>
                    <th class="text-right">
                        <mfDefaultSorter by="league">League</mfDefaultSorter>
                    </th>
                    <th class="text-right">
                        <mfDefaultSorter [by]="numberOfGames">Number of Games</mfDefaultSorter>
                    </th>
                    <th class="text-right">
                        <mfDefaultSorter by="numberOfTeams">Number of Teams</mfDefaultSorter>
                    </th>
                    <th class="text-right">
                        <mfDefaultSorter [by]="numberOfMatchdays">Number of Match Days</mfDefaultSorter>
                    </th>
                    <th class="text-right">
                        <mfDefaultSorter by="year">Year</mfDefaultSorter>
                    </th>
                </tr>
                
                </thead>
                <tbody>
                <tr *ngFor="let item of mf.data">
                    <td class="text-right">{{item.caption}}</td>
                    <td class="text-right">{{item.currentMatchday}}</td>
                    <td class="text-right">{{item.league}}</td>
                    <td class="text-right">{{item.numberOfGames}}</td>
                    <td class="text-right">{{item.numberOfTeams}}</td>
                    <td class="text-right">{{item.numberOfMatchdays}}</td>
                    <td class="text-right">{{item.year}}</td>
                </tr>
                </tbody>
                <tfoot>
                <tr>
                    <td colspan="5">
                        <mfBootstrapPaginator></mfBootstrapPaginator>
                    </td>
                </tr>
                </tfoot>
            </table> 
<div id="chart2" style="height: 700px;margin-top:2%;"></div>
