<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand" href="#">World Game!</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li><a href="#">Home</a></li>
        <!-- <li>
          <a [ngx-scroll-to]="'#seasons'" href="#">Soccer Seasons</a>
        </li> -->
        <li><a [ngx-scroll-to]="'#teams'" href="#">Teams</a></li>
        <li><a [ngx-scroll-to]="'#fixtures'" href="#">Fixtures</a></li>
        <li><a [ngx-scroll-to]="'#last5Games'" href="#">Last 4 Games</a></li>
        <li><a [ngx-scroll-to]="'#lastGame'" href="#">Last Games</a></li>
        <li><a [ngx-scroll-to]="'#allLastGame'" href="#">Finished Games</a></li>

      </ul>
    </div>
  </div>
</nav>