<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <header></header>
  <div uib-carousel class=slider>
    <carousel [sources]="imageSources" [config]="config"></carousel>
</div>
  <!-- <div class="row">
    <div class="col-md-6 col-lg-6"> -->
  <teams-section></teams-section>
  <fixtures-section></fixtures-section>
  <!-- <seasons-section></seasons-section> -->
    <!-- </div>
  </div> -->
</div>
