<h1 id="fixtures">Fixtures</h1>
<!-- <table class="table table-striped" [mfData]="data" #mf="mfDataTable"
                   [mfRowsOnPage]="rowsOnPage" [(mfSortBy)]="sortBy" [(mfSortOrder)]="sortOrder">
                <thead>
                <tr>
                    <th class="text-right">
                        <mfDefaultSorter by="name">Date</mfDefaultSorter>
                    </th>
                    <th class="text-right">
                        <mfDefaultSorter by="email">Status</mfDefaultSorter>
                    </th>
                    <th class="text-right">
                        <mfDefaultSorter by="age">Match Day</mfDefaultSorter>
                    </th>
                    <th class="text-right">
                        <mfDefaultSorter [by]="sortByWordLength">Home Team Name</mfDefaultSorter>
                    </th>
                    <th class="text-right">
                        <mfDefaultSorter by="age">Away Team Name</mfDefaultSorter>
                    </th>
                </tr>
                
                </thead>
                <tbody>
                <tr *ngFor="let item of mf.data">
                    <td class="text-right">{{item.date}}</td>
                    <td class="text-right">{{item.status}}</td>
                    <td class="text-right">{{item.matchday}}</td>
                    <td class="text-right">{{item.homeTeamName | uppercase}}</td>
                    <td class="text-right">{{item.awayTeamName | uppercase}}</td>
                </tr>
                </tbody>
                <tfoot>
                <tr>
                    <td colspan="5">
                        <mfBootstrapPaginator></mfBootstrapPaginator>
                    </td>
                </tr>
                </tfoot>
            </table> -->

<div id="chart2" style="height: 700px;margin-top:2%;"></div>
