/* You can add global styles to this file, and also import other style files */
table thead th a.text-nowrap{
    color: gray !important;
}

table{
    margin-top: 20px;
}

table thead{
    background: black;
}


ul.pagination{
    margin-left: 35% !important;
}